<% provide :title, t(".head_title") %>
<div class="center jumbotron">
  <h1><%= t".head" %></h1>
  <h2>
    <%= t".desc" %>
    <p><%= link_to t(".home_link"), "http://www.railstutorial.org" %></p>
  </h2>
  <%= link_to t("sign_up"), "#", class: "btn btn-lg btn-primary" %>
  <h1><%= t(".head") %></h1>
  <h2>
    <%= t(".desc") %>
    <p><%= link_to t(".home_link"), "http://www.railstutorial.org" %></p>
  </h2>
  <%= link_to t("sign_up"), '#', class: "btn btn-lg btn-primary" %>
</div>
