<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container bg-warning">
    <%= link_to t("sample"), home_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home"), home_path %></li>
        <li><%= link_to t("help"), help_path %></li>
        <li><%= link_to t("singin") %></li>
        <li><%= link_to t("english"), locale: :en %></li>
        <li><%= link_to t("vietnamese"),locale: :vi %></li>
      </ul>
    </nav>
  </div>
</header>
